body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

span#comment-time,
span#image-info-time {
    font-size: 0.7em;
    line-height: 0.7em;
    height: 15px;
}

#comment-row > span.comment-title > a,
#image-info-row > span.image-info-title > a{
    text-decoration: none;
}


span.user-avatar {
    width: 70px;
    display: inline-table;
    float:left;
}

span.user-avatar > img
{
    width: 100%;
}

#comment-row {
    display: block;
    min-height: 64px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #E6E6E6;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

span.comment-title {
    padding-left: 10px;
}

#comment-row > p {
    padding-left: 78px;
    white-space: pre-wrap;
    padding-top: 5px;

}

#image-info-row {
    display: block;
    min-height: 64px;
    padding: 5px;
    margin-bottom: 20px;
    background-color: #E6E6E6;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

span.image-info-title {
    padding-left: 10px;
}

#image-info-row > p {
    padding-left: 78px;
    white-space: pre-wrap;
    padding-top: 5px;

}

.share-info {
    display: block;
    min-height: 64px;
    padding: 19px 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

fieldset {
    font-family: sans-serif;
    border-top: 1px solid #c1c1c1;
    padding: 0px;
    margin-bottom: 10px;
}

fieldset legend {
    color: #c1c1c1;
    padding: 5px 10px;
    font-size: 1em;
    font-variant: small-caps;
    margin-left: 20px;
}

#content > table > tbody > tr > th.label {
    width: 156px;
}

.picture-thumbnail {
    display: inline-block;
    width: 23.7%;
    height: 140px;
    top: 0;
    float: left;
    margin: 5px 5px 0 0;
    border: 1px solid #c1c1c1;
    padding: 2px;
}

.picture-thumbnail a {
    text-decoration: none;
}

.picture-thumbnail a img {
    width: 100%;
    height: 100%;
}

.ui-flash {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.ui-flash-warning {
    border-left-color: #aa6708;
}

.ui-flash-warning > h4 {
    color: #aa6708;
}
.ui-flash > p {
    margin: 0;
}

.ui-flash h4 {
    margin-bottom: 5px;
    font-weight: 500;
}

